<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Siente la Mágia</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button style="text-decoration:none; color:black; " type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div style="font-family:'Agency FB'">
                    @Html.ActionLink("Cátalogo Cine", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    <div>
                    </div>
                    <div class="navbar-collapse collapse">
                        <button type="button" style="text-decoration:none;color:black;" class="btn btn-outline-dark">
                            <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                            <li>@Html.ActionLink("Comedia", "Comedia", "Home")</li>
                            <li>@Html.ActionLink("Terror", "Terror", "Home")</li>
                            <li>@Html.ActionLink("Drama", "Drama", "Home")</li>
                            <li>@Html.ActionLink("Románticas", "Romanticas", "Home")</li>
                            <li>@Html.ActionLink("Acción", "Accion", "Home")</li>
                            <li>@Html.ActionLink("Infántiles", "Infantiles", "Home")</li>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="text-align:center;">&copy; @DateTime.Now.Year - Siente la Mágia del Cine</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
